@media(max-width:1100px){

}
@media(max-width:700px){
	.menu-list{
		display: none;
	}
	.menu__burger{
		display: block;
		width: 30px;
		cursor: pointer;
		&:active{
			transform: rotate(90deg);
		}
		div{
			height: 2px;
			background-color: #000;
			&+div{
				margin-top: 3px;
				
			}
		}
	}
	.attentione__inner{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 2fr 1fr ;
    grid-column-gap: 60px;
    padding-bottom: 65px;
	}
}
@media(max-width:450px){
	.attentione__inner{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 2fr 1fr ;
    grid-column-gap: 60px;
    padding-bottom: 65px;
	}
}